---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags-page">
  <p>Browse posts by tag:</p>
  
  {% assign sorted_tags = site.tags | sort %}
  
  <div class="tag-cloud">
    {% for tag in sorted_tags %}
      <a href="#{{ tag[0] | slugify }}" class="tag-cloud-item">
        {{ tag[0] }} <span class="tag-count">({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  </div>
  
  <div class="tags-list">
    {% for tag in sorted_tags %}
      <section class="tag-section" id="{{ tag[0] | slugify }}">
        <h2 class="tag-name">#{{ tag[0] }}</h2>
        <ul class="post-list">
          {% for post in tag[1] %}
            <li class="post-list-item">
              <h3 class="post-list-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h3>
              <div class="post-list-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                  {{ post.date | date: "%B %d, %Y" }}
                </time>
              </div>
              {% if post.excerpt %}
              <div class="post-list-excerpt">
                {{ post.excerpt | strip_html | truncate: 200 }}
              </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</div>
