---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

.language-plaintext {
  .code-header {
    display: none;
  }
  .highlight {
    padding: 12px 0;

    pre {
      white-space: pre-wrap;
      overflow: visible;
      
      font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
      font-size: 1rem;
    }
  }
}